#navbar {
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 80px;
}

#training .items {
  flex-direction: column;
}
#training .items .item {
  width: 100%;
}
.courses .course {
  flex-direction: column;
}
.courses .course .course-info .description {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
  opacity: 0.9;
}